body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f0f8ff;
    color: #333;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the items horizontally */
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #0056b3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 10vh; /* Adjust size as needed */
    margin-right: 15px; /* Space between logo and text */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 1em;
}

th {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    transition: background-color 0.3s;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #cce4ff;
}

td:first-child {
    font-weight: bold;
}

td:nth-child(3) {
    color: black;
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #003d80;
}

@media (max-width: 600px) {
    /* Hide columns beyond the third one */
    th:nth-child(n+4), td:nth-child(n+4) {
        display: none;
    }
    
    table, th, td {
        display: table-cell;
        width: auto;
    }
}
